@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

@theme {
  --font-oxanium: 'Oxanium', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  
  --spacing-15: 3.75rem;
  --spacing-23: 5.75rem;
  --spacing-84: 21rem;
  --spacing-117: 29.25rem;
  --spacing-120: 30rem;
  
  --blur-458: 458px;
}

.font-oxanium {
  font-family: var(--font-oxanium);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.h-15 { height: var(--spacing-15); }
.w-23 { width: var(--spacing-23); }
.w-84 { width: var(--spacing-84); }
.h-117 { height: var(--spacing-117); }
.w-117 { width: var(--spacing-117); }
.w-120 { width: var(--spacing-120); }
.h-120 { height: var(--spacing-120); }

.blur-458 { filter: blur(var(--blur-458)); }
